<div class="container">

	<% if(tongtien > 0){ %>
	 <table class="table table-bordered">
		    <thead>
		      <tr>
		        <th>Hình Ảnh</th>
		        <th>Tên Sản Phẩm</th>
		        <th>Số Lượng</th>
		        <th>Giá Tiền</th>
		        <th>Cập Nhật</th>
		        <th>Xóa</th>
		      </tr>
		    </thead>
		    <tbody>
		    	
		    	<% sp.forEach((sp) => { %>
			      <tr>
			        <td>
			        	<img src="../<%= sp.item.anhsp %>" alt="" width="100">
			        </td>
			        <td><%= sp.item.tensp %></td>
			        <form method="post" action="/cart/update_cart/<%= sp.item._id %>">
				        <td style="width: 40px">
				        	<input type="number" name="soluong" id="soluong" value="<%= sp.soluong %>" style="width: 90px"/>
				        </td>
				        <td style="width: 130px" ><%= sp.item.gia %></td>
				        <td id="up"><input type="submit" value="update"/></td>
				     </form>
				        <td><a href="/cart/xoacart/<%= sp.item._id %>" onclick="return confirm('Bạn Có chắc muốn xóa?');">Xoa</a></td>
			      
			      </tr>
		      <% }) %>
		      <tr class="tongtien">
		      	<td></td>
		        <td></td>
		        <td></td>
		        <td> TỔNG TIỀN</td>
		        <td> <%= tongtien %></td>
		        <td></td>
		      </tr>
		    
		    </tbody>
	</table>
	   <%}else{ %>
			chua co gio hang
	   <% } %>
</div>
<script>
$(document).ready(() =>{
	var sl;
	$("#soluong").change(() =>{
		var sl =$("#soluong").val();
		
	});


});
</script>