<div class="container">
  
<div class="pathsp text-center">
  <span>Trang chủ</span>
  <span class="spmoi">SẢN PHẨM MỚI</span>
</div>

<div class="anh-xemthem">
  <div class="col-md-3 xemthem-left">
    <h3>SẢN PHẨM MỚI</h3>
    <img src="http://file.hstatic.net/1000026602/collection/sh_web_contact_cuahang-03.png" alt="" width="100%">
  </div>
  <div class="col-md-9">
    <img src="http://file.hstatic.net/1000026602/file/banner_website-01.png" alt="" width="100%">
  </div>
</div>
</div>
<div class="loc">
  <div class="container">
  <select name="" id="">
    <option value="">SẢN PHẨM MỚI</option>
    <option value="">Giá: Tăng dần</option>
  </select>
  </div>
</div>


<!-- list-sp -->
<div class="sp" style="margin-top: 1%">
  <div class="container">

    <% spm.forEach(spm =>{ %>
    <div class="col-md-3 itemsp">
          <img src="../<%= spm.anhsp %>" width="100%">
           <div class="info_xemthem">
            <h4><a href="#"></a> <%= spm.tensp %> </h4>
            <div class="gia">
              <span> <%= spm.gia %>₫</span>
            </div>
          </div>
        </div>
    <!-- end-row-sp -->
    <% }) %>


<div class="col-md-12">
    <ul class="pagination pagination-sm">
      <% for(var i = 1; i<= sotrang; i++) { %>
      <li><a href="/xemthem/<%= masp%>?trang=<%= i %>"><%= i %></a></li>
    <% } %>
  </ul>
</div>


  </div>
</div>
<!-- end-list-sp -->




</div>